torch
torchvision
diffusers
transformers
accelerate
datasets
wandb
numpy
pillow
opencv-python-headless
pandas
scikit-learn
matplotlib
tqdm
python-dotenv
watchdog
watchdog-gevent
pytest
pytest-watch
ipython
GPUtil